body { 
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background-image: url("../images/nerdWall.png");
}


.frame { 
    width: 750px;
    height: 500px;
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 100px;
    background-color: rgb(220, 220, 193); 
    display: flex;
    justify-content: center;
    align-items: center;
}

#background { 
    width: 80%; 
    height: 400px; 
    border: 2px solid rgb(111, 156, 234);
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* VVV changed from aim */


#conversation {  
    width: 400px;
    height: 300px;
    border: 3px solid lightgray;
    background-color: white;
    margin-top: 40px;
}

.blueBar { 
    width: 100%;
    height: 20px; 
    border-bottom: 3px solid lightgray;
    background-color: rgb(54, 54, 253);
    text-align: right;
}

.aim { 
    min-width: 100px;
}

#xOut { 
    margin-right: 15px;
    font-weight: bold;
    cursor: pointer;
}

#xOut:hover { 
    background-color: rgb(0, 0, 188);
}

.conversation { 
    margin-left: 10px;
}

.choices { 
    margin-top: 60px;
}

#thinkAgain { 
    margin-top: 20px;
}

.btn { 
    font-size: 14px;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: rgb(253, 253, 248); 
    padding: 5px;
    cursor: pointer;
}

.btn:hover { 
    background-color: rgb(234, 236, 250);
}

#thirdOption, #doubleText, .shutDown, #badEnd, #revenge{ 
    display: none;
}

.taskbar { 
    width: 100%;
    height: 30px;
    background-color: rgb(54, 54, 253);
    margin-top: 20px;
    border-top: 3px solid lightgray;
}

.taskbar img { 
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-left: 5px;
    cursor: pointer;
}



/* Media Queries  */
@media screen and (min-width: 670px) {
   .frame {
    width: 650px;

   }
}