/* :root { 

} */





/* GENERAL AND TYPOGRAPHY */
body { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background: #121212;
}

.App { 
    width: 100vh;
    height: 100vh;
    background: url('../images/nerdWall.png') no-repeat center center;
    background-size: cover;
    position: fixed;
    top: 0; 
    left: 0;
    display: flex;
    justify-content: center;
}





/* COMPUTER BODY */
#compFrame { 
    width: 80%;
    height: 70%;
    margin-top: 15%;
    background: rgb(220, 220, 193); 
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#compStand { 
    width: 50%;
    height: 10%;
    background: rgb(169, 169, 146); 
    position: fixed;
    bottom: 15px;
    border: none;
    border-radius: 4px;
}





/* ON THE SCREEN */
#compScreen { 
    width: 80%; 
    height: 70%; 
    border: 2px solid lightblue;
    display: flex;
    flex-direction: column;
}

#desktop { 
    width: 100%;
    height: 90%;
    background: rgb(111, 156, 234);
    display: flex;
    justify-content: center;
    align-items: center;
}

#appBar { 
    width: 100%;
    height: 10%;
    background: rgb(54, 54, 253);
    display: flex;
    justify-content: space-between;
}





/* VVV changed from aim */
#conversation {  
    width: 400px;
    height: 300px;
    border: 3px solid lightgray;
    background-color: white;
    margin-top: 40px;
}

.blueBar { 
    width: 100%;
    height: 20px; 
    border-bottom: 3px solid lightgray;
    background-color: rgb(54, 54, 253);
    text-align: right;
}

.aim { 
    min-width: 100px;
}

#xOut { 
    margin-right: 15px;
    font-weight: bold;
    cursor: pointer;
}

#xOut:hover { 
    background-color: rgb(0, 0, 188);
}

.conversation { 
    margin-left: 10px;
}

.choices { 
    margin-top: 60px;
}

#thinkAgain { 
    margin-top: 20px;
}

.btn { 
    font-size: 14px;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: rgb(253, 253, 248); 
    padding: 5px;
    cursor: pointer;
}

.btn:hover { 
    background-color: rgb(234, 236, 250);
}

#thirdOption, #doubleText, .shutDown, #badEnd, #revenge{ 
    display: none;
}

.taskbar img { 
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-left: 5px;
    cursor: pointer;
}



/* Media Queries  */
@media screen and (min-width: 670px) {
   .frame {
    width: 650px;

   }
}